---
pagination:
  data: collections.figuresByYear
  size: 1
  alias: figure
  addAllPagesToCollections: true
permalink: "figures/{{ figure.fileSlug }}/index.html"
layout: figure.njk
eleventyComputed:
  title: "{{ figure.name }} | Trans History Project"
  description: "{{ figure.summary }}"
  image: "{{ figure.image }}"
  # Pass all figure data to the layout
  name: "{{ figure.name }}"
  pronouns: "{{ figure.pronouns }}"
  born: "{{ figure.born }}"
  died: "{{ figure.died }}"
  notable_for: "{{ figure.notable_for }}"
  sources: "{{ figure.sources }}"
  templateContent: "{{ figure.templateContent }}"
---
