---
pagination:
  data: collections.figuresByYear
  size: 1
  alias: figure
  addAllPagesToCollections: true
permalink: "figures/{{ figure.fileSlug }}/index.html"
layout: figure.njk
eleventyComputed:
  title: "{{ figure.name }} | Trans History Project"
  description: "{{ figure.summary }}"
  image: "{{ figure.image }}"
---

{{ figure.templateContent | safe }}
